body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.f-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  background-color: gold;
}

.card {
  padding: 10px;
  font-size: 30px;
  font-family: cursive;
  font-weight: bolder;
  border: 1px solid #242424;
}

.nav{
  display: flex;
  justify-content: space-around;
  background-color: #022e3d;
  color: #ffffff;
}

.nav-items{
  text-decoration: none;
  color: #ffffff;
}
