.card {
  padding: 10px;
  font-size: 30px;
  text-transform: capitalize;
  font-family: cursive;
  font-weight: bolder;
  background-color: rgb(1, 27, 27);
  background-image: url("/bg.jpeg");
  -webkit-box-shadow: -15px 26px 29px 6px rgba(189, 183, 189, 1);
  -moz-box-shadow: -15px 26px 29px 6px rgba(189, 183, 189, 1);
  box-shadow: -15px 26px 29px 6px rgba(189, 183, 189, 1);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #022e3d;
  color: #ffffff;
}

.nav-items {
  text-decoration: none;
  color: #ffffff;
}

.blinky-text {
  font-size: 50px;
  font-weight: bolder;
  color: #022e3d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
}